/* ---  Hero section  --- */

main {
    width: 100%;
    height: fit-content;
    padding-top: 130px;
}

@media (max-width: 768px) {
    main {
        padding-top: 90px;
    }
}

.hero {
    display: flex;
    padding: 30px 60px;
    height: fit-content;
    width: 100%;
}

.carousel {
    width: 70%;
    height: 100%;
}

.hero aside {
    width: 30%;
    background-color: white;
}

.slider {
    width: 100%;
    height: 100%;
}

.slide {
    /* display: none; */
    min-height: 212px;
    width: 100% !important;
}

.slide.activee {
    flex-direction: row;
    display: flex;
}

.img {
    border-left: 20px solid red;
    width: 60%;
    height: auto;
}

.hero3 {
    background: url('https://live.staticflickr.com/65535/54067640594_5222864029_o.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: 40%;
    height: inherit;
    overflow: hidden;
    background-color: #E2E2E2;
    color: white;
    text-align: left;
    display: flex !important;
    flex-direction: column !important;
    padding: 15px 0;
}

.content-inner {
    padding: 0 30px;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    height: 100%;
}


.content h2 {
    color: #4A4A4A !important;
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
}

.content h2 a {
    color: #4A4A4A !important;
    text-decoration: none;

}

.content p {
    font-size: 12px;
    font-weight: 400;
    color: #4A4A4A;
}

button {
    height: 48px;
    width: 157px;
    border-radius: 10px;
    background: #4A4A4A;
    font-size: 13px;
    color: white;
    border: none;
    cursor: pointer;
}

.social-feed {
    min-width: fit-content;
    display: flex;
    align-items: flex-end;
    height: fit-content;
    margin-top: 20px;
    flex-direction: column;
    gap: 30px;
}

.feed {
    width: 300px;
    height: 400px;
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    overflow-y: scroll;
    gap: 15px;
}

.feed-heading {
    display: flex;
    padding-bottom: 17px;
    gap: 12px;
    border-bottom: 1px solid #aaa;
}

.feed-heading img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.feed-heading p {
    margin-top: 20px;
    font-weight: 700;
    color: red;
    font-size: 12px;
}

.feed-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 15px;
}

.feed-post-heading {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
}

.feed-post-heading img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: red;
}

.feed-post-heading p {
    margin-left: -20px !important;
    font-size: 16px;
    font-weight: 700;
}

.feed-post-heading span {
    font-size: 13px;
    color: #4A4A4A;
    align-self: flex-end;
    font-weight: 400;
}

.feed-post-content p {
    font-size: 14px;
    color: #4a4a4a;
}

.feed-post-hashtags {
    color: red;
    font-size: 13px;
    font-weight: 400;
}

.feed-post-icons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: #666;
    font-size: 12px;
}

.ads {
    width: 300px;
    height: 250px;
    background: url('https://live.staticflickr.com/65535/54067756184_bdbff993b0_o.png');
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
}

.newsletter-bottom {
    display: none;
}

.newsletter-bottom h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.newsletter-form input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
}

.subscribe-btn {
    padding: 10px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}

.subscribe-btn:hover {
    background-color: #b71c1c;
}

.candidate-aside {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.candidate-aside-heading {
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
}

.candidate-aside-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.candidate-aside-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.candidate-img {
    width: 50%;
    height: 121px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
        background-position: top left;
    }
    
    .candidate-img img {
        width: 100%;
    }

.candidate-content {
    width: 50%;
    height: 121px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 0px 10px;
    background-color: #cecece;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.candidate-content p {
    font-size: 18px;
    font-weight: 600;
}

.candidate-content span {
    font-size: 16px;
    font-weight: 400;
    color: #4A4A4A;
}

@media (max-width: 990px) {
    .social-feed-side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .feed {
        width: 300px !important;
        height: 600px !important;
    }

    .ads {
        display: none;
    }

    .candidate-aside {
        display: none;
    }

    .newsletter-bottom {
        width: 300px !important;
        display: flex;
        min-height: 277px;
        background-color: white;
        box-shadow: 2px 2px 20px rgba(211, 211, 211, 0.359);
        padding: 30px 20px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .carousel {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 10px 10px;
        height: fit-content;
    }

    .slide.activee {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img {
        width: 100%;
        display: block !important;
        height: 377px;
        border-left: 13px solid red;
    }

    .content {
        width: 100%;
        display: flex;
    }

    .content-inner {
        padding: 10px 20px;
    }

    .content h2 {
        font-weight: 900;
    }

    .content p {
        align-self: flex-end !important;
    }

    .content-inner button {
        display: none;
    }
}

@media (max-width: 500px) {
    .img {
        height: 250px;
    }

    .content-inner {
        padding: 3px 10px;
        gap: 5px;
    }

    .content h2 {
        font-size: 20px;
        line-height: 23px;
    }

    .content p {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .img {
        height: 184px;
    }
}





/* Election Stories */
.election-stories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 20px;
}

.election-stories-heading {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.election-stories-heading .election-stories-heading-box {
    min-width: 15px;
    min-height: 15px;
    background-color: red;
}

.election-stories-heading h2 {
    font-size: 25px;
    font-weight: 700px;
    line-height: 34px;
    min-width: fit-content;
    color: #4a4a4a;
}

.election-stories-heading .election-stories-heading-line {
    background-color: #aaa;
    height: 2px;
    width: 100%;
}

.election-stories-cards {
    width: 100% !important;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.election-stories-card {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    gap: 20px;
    border-bottom: 1px solid #aaa;
}

.election-stories-cards div:nth-of-type(7) {
    border: none;
}

.election-stories-card .card-img {
    border-radius: 15px;
    width: 139px;
    height: 121px;
}

.election-stories-card-inner {
    position: relative;
    width: 100%;
    display: flex;
    height: inherit;
    justify-content: space-between;
    flex-direction: column;
}

.election-stories-card-inner h3 {
    font-weight: 800px;
    line-height: 27px;
    font-size: 20px;
    color: #4A4A4A !important;
}

.election-stories-card-inner p {
    font-size: 17px;
    font-weight: 400px;
    line-height: 23px;
    color: #666;
}

.election-stories-card-inner .date {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400px;
    color: #aaa;
}

.post-reaction {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 77%;
    right: 1%;
    z-index: 500 !important;
}

@media (max-width: 768px) {
    .election-stories {
        gap: 10px;
    }

    .election-stories-cards {
        width: 100% !important;
        padding: 0px !important;
    }

    .election-stories-card {
        width: 100% !important;
        border-bottom: 1px solid #4A4A4A;
        background-color: white;
        flex-direction: row;
    }

    .election-stories-card .card-img {
        width: 30% !important;
        height: auto !important;
    }
}

@media (max-width: 497px) {
    .election-stories-card {
        gap: 10px;
    }

    .election-stories-card .card-img {
        width: 93px !important;
        height: 76px !important;
    }

    .election-stories-card-inner {
        gap: 8px !important;
    }

    .election-stories-card-inner h3 {
        font-weight: 700px;
        font-size: 15px;
        line-height: 20px;
    }

    .election-stories-card-inner p {
        font-weight: 400px;
        font-size: 14px !important;
        line-height: 15px !important;
    }

    .election-stories-card-inner span {
        font-weight: 400px;
        font-size: 12px !important;
        line-height: 20px;
    }
}